@page "/"
@using Blazor.Extensions;
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D;
@using PlayBlazem.BreakoutGame;
@inject IJSRuntime JSRuntime;

    <div>
        <h1>
            Hello There!
        </h1>
    </div>

@code {
    
    protected override Task OnInitializedAsync()
    {

        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        
    }
}